@font-face {
  font-family: 'icons';
  src: url('icomoon.woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  line-height: normal;
  text-transform: none;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transition: 0.3s ease all;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: '\e924';
}
.icon-add-to-active:before {
  content: '\e91f';
}
.icon-job-seeker:before {
  content: '\e922';
}
.icon-info:before {
  content: '\e920';
}
.icon-check-outlined:before {
  content: '\e921';
}
.icon-yellow-leads:before {
  content: '\e900';
}
.icon-warning:before {
  content: '\e901';
}
.icon-view-only:before {
  content: '\e902';
}
.icon-upload:before {
  content: '\e903';
}
.icon-star-outlined:before {
  content: '\e904';
}
.icon-star-filled:before {
  content: '\e905';
}
.icon-sign-out:before {
  content: '\e906';
}
.icon-select-arrow:before {
  content: '\e907';
}
.icon-search:before {
  content: '\e908';
}
.icon-saving:before {
  content: '\e909';
}
.icon-saved:before {
  content: '\e90a';
}
.icon-plus:before {
  content: '\e90b';
}
.icon-people:before {
  content: '\e90c';
}
.icon-offline:before {
  content: '\e90d';
}
.icon-new-list:before {
  content: '\e90e';
}
.icon-menu:before {
  content: '\e90f';
}
.icon-marketplace-leads:before {
  content: '\e910';
}
.icon-input-clear:before {
  content: '\e911';
}
.icon-hot-leads:before {
  content: '\e912';
}
.icon-edit:before {
  content: '\e913';
}
.icon-download:before {
  content: '\e914';
}
.icon-divisions:before {
  content: '\e915';
}
.icon-disqualified:before {
  content: '\e916';
}
.icon-delete:before {
  content: '\e917';
}
.icon-company:before {
  content: '\e918';
}
.icon-close:before {
  content: '\e919';
}
.icon-back:before {
  content: '\e91b';
}
.icon-attachment:before {
  content: '\e91c';
}
.icon-alert:before {
  content: '\e91d';
}
.icon-add-to-dba:before {
  content: '\e91e';
}
.icon-chevron:before {
  content: '\e91a';
}
.icon-chevron-up:before {
  content: '\e91a';
  transform: rotate(270deg);
  transform-origin: center;
  display: inline-block;
}
.icon-chevron-down:before {
  content: '\e91a';
  transform: rotate(90deg);
  transform-origin: center;
  display: inline-block;
}
.icon-chevron-left:before {
  content: '\e91a';
  transform: rotate(180deg);
  transform-origin: center;
  display: inline-block;
}
.icon-chevron-right:before {
  content: '\e91a';
}

/* Sizes */
.xs {
  font-size: 0.9rem;
}

.sm {
  font-size: 1.3rem;
}

.md {
  font-size: 1.6rem;
}

.lg {
  font-size: 2rem;
}

.xl {
  font-size: 2.4rem;
}

.xxxl {
  font-size: 6.8rem;
}

/* Space - add as needed */

.none {
  padding: 0;
}

.right {
  padding-right: 0.8rem;
}

.left {
  padding-left: 0.8rem;
}

.center {
  padding: 0 0.8rem;
}

.animated {
  padding: 0.8rem;
}

/* rotate */
.open {
  transform-origin: center;
  transform: translate(50%, 0%) rotate(-180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}
