/*
  Heading:
  Component Styles
*/

.one {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 1;
}

.two {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1.2;
}

.three {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  line-height: 1;
}

.four {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  line-height: 1;
}

/*
  Text:
  Component Styles
*/

.detail {
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
  line-height: 1.73;
  text-align: left;

  b {
    font-weight: 600;
  }
}

.nav-text {
  font-size: 1.8rem;
  letter-spacing: 0.04rem;
  line-height: 1;
}

.title,
.link {
  display: block;
  font-size: 1.8rem;
  letter-spacing: -0.01rem;
  line-height: 1;
}

.link {
  text-decoration: underline;
}

.list {
  padding-left: 2rem;

  &.unordered {
    list-style: circle;
  }

  &.ordered {
    list-style: number;
  }
}
